# Data 
/data/01-in/*
/data/02-out/*
/data/03-clean/*
/data/geospatial/*
/data/lookup/*
/data/201*/*

# Do not ignore folders with gitkeep
!.gitkeep 

# Package modules
*/node_modules/*
*/__pycache__/*
*/src/*

# R related
*.Rdata
*.Rhistory

# Python related
*.ipynb_checkpoints/

# Packrat
packrat/lib*/
.Rproj.user

# Ancillary
desktop.ini

# Passwords
*.env

# Logs
*.log