# Data 
/data/01-in/*
/data/02-out/*
/data/03-clean/*
/data/geo/*
/data/lookup/*
/data/201*/*
*.db

# Do not ignore folders with gitkeep
!.gitkeep 

# Package modules
*/node_modules/*
__pycache__/*
*/__pycache__/*
*/src/*
*package-lock.json

# R related
*.Rdata
*.Rhistory

# Python related
*.ipynb_checkpoints/

# Packrat
packrat/lib*/
.Rproj.user

# Ancillary
desktop.ini

# Passwords
*.env

# Logs
*.log
*.log*
*-log*

# Ephemeral files
*.txt
!requirements.txt